* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
}

p {
  font-size: 12px;
  color: hsl(237, 12%, 33%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.row {
  background-color: #fff;
  width: 900px;
  height: 500px;
  margin: 100px auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-6 {
  width: 50%;
  float: left;
  padding: 0;
}

.faq {
  margin-top: 50px;
}

.image {
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: stretch;
  background-position: -580px -300px;
  height: 100%;
  overflow: hidden;
}

.hero-img {
  margin-left: -90px;
  margin-top: 75px;
}

.accordion {
  cursor: pointer;
  padding: 18px 0;
  width: 350px;
  text-align: left;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  outline: none;
  transition: 0.4s;
  color: hsl(237, 12%, 33%);
  background-color: #fff;
}

.active {
  font-weight: bold;
}

.accordion:hover {
  color: hsl(14, 88%, 65%);
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color: hsl(240, 6%, 50%);
  width: 350px;
  line-height: 25px;
}

.arrow {
    float: right;
}

.box-img-div {
    position: relative;
}

.box-img {
    position: absolute;
    top: 200px;
    left: 230px;
    z-index: 1;
}