* {
  box-sizing: border-box;
}

body {
  background-color: hsl(273, 75%, 66%);
  font-family: "Kumbh Sans", sans-serif;
}

p {
    font-size: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.row {
  background-color: #fff;
  width: 900px;
  height: 500px;
  margin: 100px auto;
  border-radius: 20px;
  overflow: hidden;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-6 {
    width: 50%;
    float: left;
    padding: 0;
}

.faq {
    margin-top: 50px;
}

.image {
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: stretch;
    background-position: -580px -300px;
    height: 100%;
}

.hero-img {
    margin-left: -90px;
    margin-top: 75px;
}